body {
  margin: 0 auto;
  background: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.wrap-pos {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

main {
  padding: 102px 88px 102px 88px;
}

.main-description {
  width: 500px;
}

.job-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #fb6d3a;
  margin: 0;
  position: absolute;
  top: 20px;
  right: 5%;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}

.description {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 40px;
  text-align: justify;
}

.projects {
  width: 485px;
  margin-bottom: 51px;
  color: #fb6d3a;
}

.project-container {
  display: flex;
  justify-content: space-between;
}

.list-primary {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding-left: 0;
  text-decoration: none;
  color: black;
}

.list-primary-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #595959;
}

a.list-primary:hover {
  text-decoration: underline;
}

.header-primary {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 12px;
}

.job-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.highlight {
  color: #fb6d3a;
}

.job-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.job-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding-left: 0;
  list-style-position: inside;
}

.work-experience-block {
  width: 525px;
}

.university-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.study-field {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.job {
  margin-bottom: 40px;
}

.education {
  margin-bottom: 40px;
}

.certificates-links {
  color: #1e2939;
  text-decoration: none;
}

.certificates-links:hover {
  text-decoration: underline;
}

aside {
  width: 370px;
  background: #1e2939;
}

.cv-photo {
  margin-top: 40px;
}

header {
  position: relative;
}

.header-secondary {
  color: #fb6d3a;
}

.contact-links {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

.bold {
  font-weight: 700;
}

.list-secondary {
  color: #fb6d3a;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}

.list-secondary-item {
  color: #ffffff;
}

.contact-block {
  margin-top: 51px;
  margin-left: 40px;
}

.tech-skills-block {
  margin-top: 47px;
  margin-left: 40px;
}

.soft-skills-block {
  margin-top: 44px;
  margin-left: 40px;
}